<!DOCTYPE html>
<html>
<head>
	<title></title>
	  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Asap+Condensed" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./css/index.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Lobster|Satisfy" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
</head>

<body>
  <nav class="" role="navigation" style="background-color: #212F3C">
    <div class="nav-wrapper container">
      <a id="logo-container " href="./index.html" class="brand-logo white-text">Andela</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="./my-events.html">My Events</a></li>
        <li><a href="./signin.html">Login</a></li>
        <li class=""><a href="./signup.html">Register</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#"></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="bgimg" style="position: relative;height: 450px;">
    <div class="overlay" style="height: 450px;"></div>
  	<div class="row center">
  		<h1 class="header col s12 light white-text w3-jumbo">The Emporium</h1>
  		<p class="slant white-text"><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id odio mollis, luctus ex at, accumsan magna....</i></p>
  	</div>
  </div>
  <div class="container" style="padding-top: 55px;padding-bottom: 55px">
    <h3 class="light" style="font-family: 'Lobster', cursive;">Exceptional Seating Hall</h3>
    <h5 class="blue-grey-text">Quisque aliquam dignissim felis, a laoreet lacus .</h5>

    <p style="line-height: 24px;font-family: 'Barlow Condensed', sans-serif;font-size: 20px;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id odio mollis, luctus ex at, accumsan magna. Suspendisse suscipit gravida velit vitae pellentesque. Quisque aliquam dignissim felis, a laoreet lacus laoreet consequat. Integer eu tincidunt massa. Donec placerat molestie sapien ac eleifend. Phasellus vulputate sagittis libero. In consectetur efficitur erat, sit amet laoreet velit tempor nec. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
  </div>
  <div class="container" style="">
    <div class="mySlides" style="position: relative;">
      <img  class="" src="https://static.pexels.com/photos/69815/florida-state-university-westcott-building-auditorium-interior-69815.jpeg" 
      style="width:100%;height: 450px;">
      <div class="black" style="position: absolute;top:0;right: 0;padding: 2px 8px;">
        <p class="white-text">1500 seater capacity</p>
      </div>
    </div>
    <div class="mySlides" style="position: relative;">
      <img  class="" src="https://static.pexels.com/photos/348517/pexels-photo-348517.jpeg" 
      style="width:100%;height: 450px;">
      <div class="black" style="position: absolute;top:0;right: 0;padding: 2px 8px;">
        <p class="white-text">Music 24/7</p>
      </div>
    </div>

    <div class="">
      <img  class="mySlides" src="https://static.pexels.com/photos/149767/pexels-photo-149767.jpeg" 
      style="width:100%;height: 450px;">
    </div>

    <img class="mySlides" src="https://static.pexels.com/photos/348517/pexels-photo-348517.jpeg" style="width:100%;height: 450px;"><br>
    <div class="center">
      <button style="border: 1px solid lightgrey;color: black;box-shadow: none;" class="btn white " onclick="plusDivs(-1)">&#10094;</button>
      <button style="border: 1px solid lightgrey;color: black;box-shadow: none;" class="btn white" onclick="plusDivs(1)">&#10095;</button>
    </div>
  </div><br><br>
      <div class="row container">
        <div class="col s12 m12 l12">
          <h2 class="" style="font-family: 'Lobster', cursive;">Upcoming Events!</h2>
          <hr class=""><br>
          <div class="col s3 center" style="">
            <div class="black white-text" style="">
              <h5  style="font-family: 'Satisfy', cursive;padding: 10px 0px;" class="center "><i class=" fa fa-calendar-o"></i> <br/> 27 <span>sept</span></h5>
            </div>
          </div>
          <div class="col s9" style="">
              <h3 style="font-family: 'Satisfy', cursive;">Lorem ipsum dolor sit amet</h3>
              <p style="color: #ABB2B9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id odio mollis, luctus ex at, accumsan orem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id odio mollis, luctus ex at, accumsan magna. Suspendisse suscipit gravida velit vitae pellentesque. Quisque aliquam dignissim felis, a laoreet magna. Suspendisse suscipit gravida velit vitae pellentesque. Quisque aliquam dignissim felis, a laoreet .</p>
          </div>

          <div class="col s3 center" style="">
            <div class="black white-text" style="" >
             <h5  style="font-family: 'Satisfy', cursive;padding: 10px 0px;" class="center "><i class=" fa fa-calendar-o"></i> <br/> 09 <span>0ct</span></h5>
            </div>
          </div>
          <div class="col s9" style="">
              <h3 style="font-family: 'Satisfy', cursive;">Lorem ipsum dolor sit amet</h3>
              <p class="lightgrey-text" style="color: #ABB2B9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id odio mollis, luctus ipsum dolor sit amet, consectetur adipiscing elit. Nunc id odio mollis, luctus ex at, accumsan magna. Suspendisse suscipit gravida velit vitae pellentesque. Quisque aliquam dignissim felis, a laoreet ex at, accumsan magna. Suspendisse suscipit gravida velit vitae pellentesque. Quisque aliquam dignissim felis, a laoreet .</p>
          </div>
        </div>
      </div><br><br><br>


<footer class="page-footer " style="background-color:#212F3C ">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h6 class="white-text">ABOUT</h6>
          <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis egestas ante non maximus. Maecenas commodo lectus ligula, nec ultricies quam laoreet porta. Donec lectus nisl, porttitor ac semper molestie, sagittis non orci. In egestas diam tincidunt fringilla posuere</p>


        </div>
        <div class="col l3 s12 center">
          <h6 class="white-text">SETTINGS</h6>
          <ul>
            <li><a class="white-text" href="#!">FAQ</a></li>
            <li><a class="white-text" href="#!">Pricing</a></li>
            <li><a class="white-text" href="#!">Notifications</a></li>
            <li><a class="white-text" href="#!">Restaurants</a></li>
          </ul>
        </div>
        <div class="col l3 s12 center">
          <h6 class="white-text">CONNECT</h6>
          <ul>
            <li><a class="white-text" href="#!">facebook</a></li>
            <li><a class="white-text" href="#!">Instagram</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
    <a class="brown-text text-lighten-3" href="http://materializecss.com"></a>
      </div>
    </div>
</footer>
<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>

</body>

</html>

