<!DOCTYPE html>
<html>
<head>
	<title></title>
	  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Asap+Condensed" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./css/index.css">
 
</head>

<body>
  <nav class="" role="navigation" style="background-color: #212F3C">
    <div class="nav-wrapper container">
      <a id="logo-container " href="index.html" class="brand-logo white-text">Andela</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Favorites</a></li>
        <li><a href="#">Login</a></li>
        <li class="active"><a href="#">Register</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#"></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="bgimg" style="position: relative;">
  	<div class="row center">
  		<h1 class="header col s12 light white-text">Welcome to Andela Events</h1>
  		<p class="slant white-text"><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id odio mollis, luctus ex at, accumsan magna. Suspendisse suscipit gravida velit vitae pellentesque....</i></p>
  		<button class="button"><b>Explore</b></button>
  	</div>
  	<section class="overlay" style=""></section>
  	<div class="forms">
		  <div class="row">
		    <form class="col s10 offset-s1">
		      <div class="row">
		        <div class=" col s3">
						  <select class="browser-default input-field " >
						    <option value="" disabled selected>Select a center...</option>
						    <option value="1">Option 1</option>
						    <option value="2">Option 2</option>
						    <option value="3">Option 3</option>
						  </select>
		        </div>
		        <div class=" col s3">
						  <select class="browser-default input-field " >
						    <option value="" disabled selected>Choose a time...</option>
						    <option value="1">Option 1</option>
						    <option value="2">Option 2</option>
						    <option value="3">Option 3</option>
						  </select>
		        </div>
		        <div class=" col s3">
						  <select class="browser-default input-field " >
						    <option value="" disabled selected>Choose a date...</option>
						    <option value="1">Option 1</option>
						    <option value="2">Option 2</option>
						    <option value="3">Option 3</option>
						  </select>
		        </div>
		        <div class="input-field col s3">
		        		<button class="button1 light">Check</button>
		        </div>
		      </div>
		    </form>
		  </div>
  	</div>
  </div>

  <div class="listing center">
  	<div class="row center" style="padding: 25px 45px">
  		<h3 class="header col s12 light black-text">Major Events Center</h3>
  		<p class="slant black-text"><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id odio mollis, luctus ex at, accumsan magna....</i></p><br><br>
  		<div class="col center s12 m12 l3 displayed">
  			<img class="responsive-img" src="https://static.pexels.com/photos/316080/pexels-photo-316080.jpeg" style="width: 100%;">
  			<div class="">
  				<div class="">
	  				<h5 >The emporium</h5>
	  				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id odio mollis, luctus ex at, accumsan magna</p>
	  			</div>
  			</div>
  		</div>
  		<div class="col s12 m12 l3 displayed1">
  			<img class="responsive-img" src="https://static.pexels.com/photos/69815/florida-state-university-westcott-building-auditorium-interior-69815.jpeg" style="width: 100%;">
  			<div class="">
  				<div class="">
	  				<h5 >The emporium2</h5>
	  				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id odio mollis, luctus ex at, accumsan magna</p>
	  			</div>
  			</div>
  		</div>
  		<div class="col s12 m12 l3">
  			<img class=" responsive-img" src="https://static.pexels.com/photos/149767/pexels-photo-149767.jpeg" style="width: 100%;">
  			<div class="">
  				<div class="">
	  				<h5 >The emporium3</h5>
	  				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id odio mollis, luctus ex at, accumsan magna</p>
	  			</div>
  			</div>
  		</div>
  		 <div class="col s12 m12 l3" style="margin-bottom: 55px;">
  			<img class=" responsive-img" src="https://static.pexels.com/photos/265884/pexels-photo-265884.jpeg" style="width: 100%;height: 195px">
  			<div class="">
  				<div class="">
	  				<h5 >The emporium4</h5>
	  				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id odio mollis, luctus ex at, accumsan magna</p>
	  			</div>
  			</div>
  		</div><br><br>
  		<a class=" col s12 "><button class="button1">view all centers &raquo</button></a>
  	</div>
  </div>

  <div class="bgimg2 white-text">
  		<div class="row center" id="bg-ad">
  			<h5 class="col s12">Red Hot Summer!</h5>
  			<h3>Savings</h3>
  			<h5>50% off 3rd payment</h5>
  			<button class="btn red">Learn More</button>
  		</div>
  </div>

  <div class="">
  	<div class="row" style="padding: 45px">
  			<div class="col s12 m12 l4">
  				<h4 class="">Upcoming Events!</h4>
  				<hr class=""><br>
		  		<div class="col s3 center" style="">
		  			<div style="">
		  				<h5 style="" class="center date">10<br><span>Oct</span></h5>
		  			</div>
		  		</div>
		  		<div class="col s9" style="">
		  				<h5>Lorem ipsum dolor sit amet</h5>
		  				<p style="color: #ABB2B9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id odio mollis, luctus ex at, accumsan magna. Suspendisse suscipit gravida velit vitae pellentesque. Quisque aliquam dignissim felis, a laoreet .</p>
		  		</div>

		  		<div class="col s3 center" style="">
		  			<div style="">
		  				<h5 class="center date">27<br><span>sept</span></h5>
		  			</div>
		  		</div>
		  		<div class="col s9" style="">
		  				<h5>Lorem ipsum dolor sit amet</h5>
		  				<p class="lightgrey-text" style="color: #ABB2B9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id odio mollis, luctus ex at, accumsan magna. Suspendisse suscipit gravida velit vitae pellentesque. Quisque aliquam dignissim felis, a laoreet .</p>
		  		</div>
  			</div>



  			<div class="col s12 m12 l4">
  				<h4 class="">Testimonials</h4>
  				<hr class=""><br>
  				<p class="col s12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id odio mollis, luctus ex at, accumsan magna. Suspendisse  magna suscipit gravida velit vitae pellentesque. Quisque aliquam dignissim felis, a laoreet  suscipit gravida velit vitae pellentesque. Quisque aliquam dignissim felis, a laoreet .</p>
		  		<div class="col s3 center" style="">
		  			<div style="">
		  				<h5 class="center date">A</h5>
		  			</div>
		  		</div>
		  		<div class="col s9" style="">
		  				<h6 style="font-size: 18px;">Event Crasher<br> <span style="font-size: 12px;">CEO, Google Inc.</span></h6>
		  				<p style="color: #ABB2B9"></p>
		  		</div>
  			</div>

  			<div class="col s12 m12 l4">
  				<h4 class="">Instagram</h4>
  				<hr class=""><br>

  				<div class="row">
  					<div class="col s4">
  						<img class="responsive-img" src="https://static.pexels.com/photos/316080/pexels-photo-316080.jpeg" style="height: 100px;width: 100%">
  					</div>
  					  					<div class="col s4">
  						<img class="responsive-img" src="https://static.pexels.com/photos/316080/pexels-photo-316080.jpeg" style="height: 100px;width: 100%">
  					</div>
  					  					<div class="col s4">
  						<img class="responsive-img" src="https://static.pexels.com/photos/316080/pexels-photo-316080.jpeg" style="height: 100px;width: 100%">
  					</div>
  					  <div class="col s4">
  						<img class="responsive-img" src="https://static.pexels.com/photos/316080/pexels-photo-316080.jpeg" style="height: 100px;width: 100%">
  					</div>
  					  					<div class="col s4">
  						<img class="responsive-img" src="https://static.pexels.com/photos/316080/pexels-photo-316080.jpeg" style="height: 100px;width: 100%">
  					</div>
  					<div class="col s4">
  						<img class="responsive-img" src="https://static.pexels.com/photos/316080/pexels-photo-316080.jpeg" style="height: 100px;width: 100%">
  					</div>
  					<div class="col s4">
  						<img class="responsive-img" src="https://static.pexels.com/photos/316080/pexels-photo-316080.jpeg" style="height: 60px;width: 100%">
  					</div>
  					<div class="col s4">
  						<img class="responsive-img" src="https://static.pexels.com/photos/316080/pexels-photo-316080.jpeg" style="height: 60px;width: 100%">
  					</div>
  					<div class="col s4">
  						<img class="responsive-img" src="https://static.pexels.com/photos/316080/pexels-photo-316080.jpeg" style="height: 60px;width: 100%">
  					</div>
  				</div>
  			</div>
  	</div>
  </div>

<footer class="page-footer " style="background-color:#212F3C ">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h6 class="white-text">ABOUT</h6>
          <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis egestas ante non maximus. Maecenas commodo lectus ligula, nec ultricies quam laoreet porta. Donec lectus nisl, porttitor ac semper molestie, sagittis non orci. In egestas diam tincidunt fringilla posuere</p>


        </div>
        <div class="col l3 s12 center">
          <h6 class="white-text">SETTINGS</h6>
          <ul>
            <li><a class="white-text" href="#!">FAQ</a></li>
            <li><a class="white-text" href="#!">Pricing</a></li>
            <li><a class="white-text" href="#!">Notifications</a></li>
            <li><a class="white-text" href="#!">Restaurants</a></li>
          </ul>
        </div>
        <div class="col l3 s12 center">
          <h6 class="white-text">CONNECT</h6>
          <ul>
            <li><a class="white-text" href="#!">facebook</a></li>
            <li><a class="white-text" href="#!">Instagram</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
    <a class="brown-text text-lighten-3" href="http://materializecss.com"></a>
      </div>
    </div>
</footer>

</body>
</html>