body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Asap Condensed', sans-serif;
}

nav {
  background-color:black;
  color: white;
}

.parallax-container {
  height: 400px;
}

.brand-logo {
  margin-left: 10px;
}
.borderRight{
  border-right: 1px dashed black;
}
.section-header{
  background-color: '#E5E4E2';
  color: '#212F3C';
  padding: 45px 60px;
}

.section-header2{
  padding: 55px;
}
.borders{
  border-bottom: 1px dashed grey;
  padding-bottom: 2px;
}

.bgimg2 {
  background-image: url('/images/img06.jpeg');
  min-height: 550px;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

// .header{
//   background-color: rgba(0, 0, 0, 0.57);
//   padding: 5px;
// }

// .header-para{
//   background-color: rgba(229, 223, 223, 0.85);
//   padding: 5px;
//   padding-top: 20px;
// }

.atag {
  padding: 8px 15px;
  margin-bottom: 45px;
  color: grey;
  border: 1px solid grey;
  background-color: transparent;
}

#wit {
  width: 30px;
}

.fam {
  font-family: 'Lobster',cursive;
}

.bg1 {
  padding: 8px;
  margin-top: 0px;
  margin-bottom: 85px;
}

.hr1 {
  width: 10%;
  margin: auto;
  border-bottom: 1px solid orange;
}

.or {
  color: orange;
}

#add-form {
  position: relative;
}

#loads {
  position: absolute;
  top: 45%;
  left: 45%;
}

.bgimg {
  background-image: url('/images/img07.jpeg');
  height: 550px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.bgimg7 {
  background-image: url('/images/img05.jpeg');
  height: 650px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  align-items: center;
}

.bgimg4 {
  height: 650px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#minor-l {
  position: absolute;
  top: 4%;
  right: 4%;
}

#minor {
  position: relative;
}

.pos {
  top: 45%;
  position: absolute;
}

.overlay {
  height: 650px;
  position: absolute;
  width: 100%;
  top: 0px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 100%;
  color: white;
}

.button5 {
  border-radius: 20px;
  margin-right: 5px;
  padding: 13px 45px;
  color: white;
  cursor: pointer;
}
.middle{
  position: absolute;
  top: 0%;
  left: 15%;
  background-color: rgba(10, 0, 0, 0.8);
}

.middle h3{
  padding: 5px;
}
// .img-event{
//   width: 250;
//   height: 250;
//   border-radius: 100%;
//   border: 4px solid lightgrey;
// }
.button8 {
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #CE0A0A;
  padding: 13px 40px;
  color: #CE0A0A;
  cursor: pointer;
}
.button2 {
  border-radius: 20px;
  background-color: '#212F3C';
  margin-left: 5px;
  margin-right: 5px;
  padding: 13px 45px;
  color: white;
  //cursor: pointer;
}
.err_para{
  padding-top: 5px;
  padding-bottom: 5px;
}

.button1 {
  background-color: #212F3C;
  padding: 12px 65px;
  color: white;
  cursor: pointer;
  border: 1px solid #212F3C;
}

.slant {
  font-size: 17px;
}

.displayed:hover .show {
  display: block;
}

.para {
  background-image: url('https://static.pexels.com/photos/273669/pexels-photo-273669.jpeg');
}

.forms {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 0px 2px;
  align-items: center;
}

#bg-ad {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 45px;
  height: 300px;
  width: 300px;
  border-radius: 100%;
}

// hr {
//   margin: auto;
//   max-width: 14%;
//   // border-bottom: 1px solid red;
//   //margin-left: 5px;
//   //text-align: center;
//   color: red;
// }

hr {
  border-color:red;
  border-width: 2px;
  margin: auto;
  text-align: center;
  max-width: 50px;
}

.rule{
  border-left:5px solid #C70A0A;
  margin: auto;
}

.date {
  background-color: grey;
  padding: 4px;
  color: white;
}

#w3set {
  position: relative;
}

.fsize {
  font-size: 19px;
}

#w3sets {
  position: relative;
}

.but9 {
  border: 1px solid lightgrey;
  color: black;
  box-shadow: none;
}

.font {
  font-family: 'Lobster', cursive;
}

.font2 {
  font-family: 'Barlow Condensed', sans-serif;
}

#slide {
  position: relative;
}

.font3 {
  font-family: 'Satisfy', cursive;
}

.set {
  position: absolute;
}

body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Asap Condensed', sans-serif;
}


.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 450px;
  position: absolute;
  top: 0px;
  min-height: 100%;
}

#bgPage {
  position: relative;
}

.loader {
  top: 45%;
  left: 45%;
  position: absolute;
  background-color: grey;
}

.btnn {
  padding: 10px 45px;
  color: white;
}

#tp-row {
  padding-left: 65px;
  padding-top: 49px;
}

#tp-child {
  border-bottom: 3px solid red;
  padding-bottom: 4px;
  max-width: 35%;
}




/////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////


